<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is confirm payment page</h1>
<h4>Token: {{ token }}</h4>
{#<h4>Booking number: {{ bkn }}</h4>#}
<h4>Booker email: {{ email }}</h4>
{#<h4>Provider: {{ method }}</h4>#}
<h3>The card password you can use 102688</h3>
<form method="POST">
  {% csrf_token %}
      <label for="cardpassword">Cardpassword</label>
    <input type="text" id = "cardpassword" name = "cardpassword">
      <input type="submit" id="confirm" name="confirm" value="CONFIRM">
</form>
</body>
</html>
